/* Font */
@import url("https://fonts.cdnfonts.com/css/sf-mono");
@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/new-york-extra-large");

@font-face {
  font-family: "SF Pro Display";
  src: url("fonts/SF-Pro-Display.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "New York Small";
  src: url("../fonts/NewYorkSmall-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Mono";
  src: url("fonts/SF-Mono-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
html {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

/* Body */
.body {
  overflow-x: hidden;
  background: white;
  width: 100%;
  color: #000;
}

/* Header */

header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 134px;
  position: relative;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 52px 63px;
  height: 134px;
}

.header .logo .logoheader {
  width: 390px;
  height: 37.53px;
}

.nav {
  display: flex;
}

.nav a {
  display: inline-block;
  width: auto;
  text-decoration: none;
  margin: 0px 0 0 33px; /* Top: 10px, Right: 0, Bottom: 0, Left: 15px */
  height: 33px;

  font-family: "New York Small", serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.7;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  color: black;
}

.nav a:hover {
  text-decoration-thickness: 3px;
  text-underline-offset: 85px;
  font-weight: 600;
}
.nav a.line {
  position: relative;
}

/* Dòng gạch sát đáy header */
.nav a.line::after {
  content: "";
  position: absolute;
  bottom: -52px; /* Điều chỉnh cho sát đáy header (vì padding-top: 52px) */
  left: 0;
  width: 100%;
  height: 3px;
  background-color: black;
}
/* ----------------Banner----------- */

.banner-container {
  margin: 52px auto 0;
}

.banner-bg {
  max-width: 854px;
  width: 100%;
  margin: 76px auto 0;
}
.banner-bg img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Cắt đều 2 bên */
}

.banner-title {
  max-width: 854px;
  width: 100%;
  height: 162px;
  margin: 44px auto 0;
  text-align: center; /* Căn giữa nội dung text */
}

.banner-title .title {
  color: #000000;
  font-family: "New York Extra Large", serif;
  font-size: 54px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
}

.banner-subtitle {
  max-width: 626px;
  width: 100%;
  height: 68px;
  margin: 32px auto 0;
  text-align: center; /* Căn giữa nội dung text */
}
.banner-subtitle .subtitle {
  font-family: "SF Mono", monospace;
  font-weight: 400;
  font-size: 20px;
  line-height: 170%;
  letter-spacing: 0%;
  text-align: center;
}

/* Divider */
.divider {
  max-width: 640px;
  width: 100%;
  border: none;
  border-top: 3px solid black;
  margin: 34px auto 0;
}

/* Articles */
.articles-tit {
  max-width: 250px;
  width: 100%;
  height: auto;
  margin: 62px auto 0;
  font-family: "New York Extra Large";
  font-weight: 700;
  font-size: 44px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.articles {
  text-align: center;
  margin-bottom: 113px;
}

.article-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px 26px;
  justify-items: center;
  margin: 39px auto;
  width: 100%;
  max-width: 680px;
}

/* Thẻ bài viết */
.article-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 304px;
}

/* Ảnh bài viết */
.article-card img {
  width: 304px;
  height: 176px;
  object-fit: cover;
  display: block;
}

/* Caption bài viết */
.article-caption {
  margin-top: 19px;
  padding-bottom: 15px;
  width: 100%;
  max-width: 262px;
}

.article-caption p {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0%;
  text-align: center;
}

/* Footer */
.footer {
  width: 100%;
  height: 464px;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 16px 0 32px;
  overflow: hidden; /* Đảm bảo không bị tràn */
}

.footer-top .footer-img-desktop {
  width: 100%;
  max-width: 1556px; /* Giới hạn max nếu cần */
  height: 28px;
  margin: 0 auto 105px;
  display: block;
  object-fit: cover; /* Cắt đều 2 bên */
}

.footerlogo {
  width: 290px;
}

.footer-middle .footer-text {
  max-width: 488px;
  width: 100%;
  margin: 20px auto 0;
  font-family: "New York Small", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #ffffff;
  height: auto;
}

.footer-middle .social-links {
  margin: 50px auto 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 19px;
}

.footer-middle .social-links a {
  color: #fff;
  font-family: SF Pro Text;
  font-weight: 500;
  font-size: 16px;
  line-height: 170%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;

  text-decoration-thickness: 0%;
}

.footer-bottom p {
  font-size: 12px;
  margin: 5px 0;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger img {
  width: 28px;
  height: 28px;
  object-fit: contain;
}

.footer-top .footer-img-desktop {
  display: block;
}

.footer-top .footer-img-mobile {
  display: none;
}

.article-list-mobile {
  display: none;
}

@media (max-width: 976px) {
  .header .logo .logoheader {
    width: 280px;
    height: 30px;
  }
  .header-content {
    padding: 52px 33px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .menu {
    display: none;
  }

  .banner-title {
    max-width: 700px;
  }
}

@media (max-width: 768px) {
  .banner-title {
    width: 600px;
    height: 100px;
  }

  .banner-title .title {
    font-size: 44px;
    font-weight: 650;
    line-height: 100%;
    text-align: center;
  }

  .banner-subtitle {
    width: 526px;
    height: 68px;
    margin: 62px auto 0;
  }
  .banner-subtitle .subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    letter-spacing: 0%;
  }

  .articles-tit {
    font-size: 40px;
  }
}

@media (max-width: 650px) {
  header {
    height: 65px;
  }
  .header-content {
    padding: 22px 23px;
    height: 65px;
  }

  .header .logo .logoheader {
    width: 200px;
    height: 20px;
  }

  .banner-title {
    /* width: 100%;
    height: auto;
    margin: 0 auto; */
    width: 480px;
    height: 100px;
  }

  .banner-title .title {
    font-size: 36px;
    font-weight: 650;
    line-height: 100%;
    text-align: center;
  }

  .banner-subtitle {
    width: 380px;
    height: 68px;
    margin: 35px auto -20px;
  }

  .banner-subtitle .subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    letter-spacing: 0%;
    text-align: center;
  }

  .articles-tit {
    font-size: 36px;
  }

  .article-list {
    display: none;
  }

  .article-list-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    margin: 39px auto;
    width: 100%;
    max-width: 680px;
  }

  .article-card img {
    width: 370px;
    height: 242px;
    object-fit: cover;
    display: block;
  }

  .footerlogo {
    width: 236px;
  }

  .footer-middle .footer-text {
    width: 370px;
    font-size: 14px;
    padding: 0 20px; /* Thêm padding để tránh chữ sát mép */
  }

  .footer-middle .social-links a {
    font-size: 14px;
  }
}

@media (max-width: 490px) {
  .banner-title {
    width: 350px;
    height: 100px;
  }

  .banner-title .title {
    font-size: 36px;
    font-weight: 650;
  }

  .banner-subtitle {
    width: 326px;
    height: 68px;
    margin: 60px auto 0;
  }

  .divider {
    margin: 52px auto 0;
  }

  .footer-middle .social-links a {
    font-size: 13px;
  }
}

@media (max-width: 376px) {
  .article-card img {
    width: 335px;
    height: 176px;
    object-fit: cover;
    display: block;
  }

  .articles-tit {
    font-size: 32px;
  }

  .footerlogo {
    width: 230px;
  }

  .footer-middle .footer-text {
    width: 315px;
    height: 71px;
    font-size: 13px;
  }

  .footer-middle .social-links a {
    font-size: 14px;
  }
}
